<br>
<div class="alert alert-info">
<p>Este caso de uso permite que o administrador cadastre novas características para serem incorporadas a imóveis cadastrados.
Para isto, informe a descrição da característica.</p>
</div>
<fiedset>
  <% if @caracteristica_imovel.errors.any? %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
        <ul>
          <% @caracteristica_imovel.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  
  <% end %>
  
<%= form_for([:administrativo, @caracteristica_imovel], :html => { :class => :form }) do |f| -%>
  
  <%= f.label 'Descrição', :class => "control-label" %>
  <%= f.text_field :descricao, :class => "input-xlarge", :onkeyup => "toUppercase(this);", :maxlength => "300" %>

<br>  
  <div class="form-actions-white">
    <!-- <%= f.submit %> -->
    <% if @caracteristica_imovel.id.nil? %>
    <button class="btn btn-primary" type="submit">Cadastrar</button>
    <% else %>
    <button class="btn btn-info" type="submit">Alterar</button>
    <% end %>
    ou 
    <%= link_to "Cancelar", administrativo_caracteristica_imovels_path, :confirm => "Deseja cancelar a operação? Todos os dados serão perdidos." %>
  </div>
<% end %>
</fiedset>