<script type="text/javascript">

function mostraCampoVendedor(){
    if(document.getElementById('idVendido').checked)
      document.getElementById('idVendedor').style.display = 'inline';
    else
      document.getElementById('idVendedor').style.display = 'none';
  }
  
  function atualizaForm(){
    var idTipo = document.getElementById('idTipoImovel').value;
    if(idTipo == '4'){
      document.getElementById('divQuartos').style.display = 'none';
      document.getElementById('divSuites').style.display = 'none';
      document.getElementById('divVagasGaragem').style.display = 'none';
      document.getElementById('divCaracteristicas').style.display = 'none';
      document.getElementById('liCaracteristicas').style.display = 'none';
      document.getElementById('aDetalhes').style.display = 'none';
      document.getElementById('txtNome').disabled = true;
      atualizaNomeTipoTerreno();
    } else {
      document.getElementById('divQuartos').style.display = 'inline';
      document.getElementById('divSuites').style.display = 'inline';
      document.getElementById('divVagasGaragem').style.display = 'inline';
      document.getElementById('divCaracteristicas').style.display = 'inline';
      document.getElementById('liCaracteristicas').style.display = 'inline';
      document.getElementById('aDetalhes').style.display = 'inline';
      document.getElementById('txtNome').disabled = false;
    }
  }
  
  function atualizaNomeTipoTerreno(){
    var valor = '';
    var textoLocalizacao = document.getElementById('txtLocalizacao').value.toString();
    if(document.getElementById('idTipoImovel').value == 4) {
      valor = "TERRENO LOCALIZADO: "+textoLocalizacao;
      document.getElementById('txtNome').value = valor;
    }
  }

</script>
<br>
<div class="alert alert-info">
  <span class="label label-important">Importante</span> Após o cadastro de imóvel, não será possível alterar o <b>tipo do imóvel</b>, pois o <b>Código de Referência</b> gerado pelo sistema depende dessa informação.
</div> 

<fieldset>
<%= nested_form_for([:administrativo, @imovel], :html => {:multipart => true}) do |f| %>

  <% if @imovel.errors.any? %>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <ul>
      <% @imovel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <% if @imovel.id.nil? %>
  <br>
  
  <% end %>
  
  <ul class="breadcrumb">
        <li>
          <a href="#dadosGerais">Dados Gerais</a> <span class="divider">/</span>
        </li>
        <li id="liCaracteristicas">
          <a href="#caracteristicas">Características</a> <span class="divider">/</span>
        </li>
        <li>
          <a href="#imagens">Imagens</a> <span class="divider">/</span>
        </li>
      </ul>
<legend>Dados Gerais<a name="dadosGerais"></a></legend>

<% if !@imovel.id.nil? %>
  <div class="controls">
    <%= check_box("imovel", "vendido", :class => "checkbox inline", :id => "idVendido", :onclick => "mostraCampoVendedor()")%> Vendido
  </div>
  <div class="control-group">
    <div class="controls" style="display: none;" id="idVendedor">
      <%= select("imovel", "vendedor_id", Corretor.all.collect {|p| [ p.nome, p.id ] } , {include_blank: '-- Selecione o corretor responsável pela venda --'}, {class: "span5"}) %>
    </div>
  </div>
<% end %>

<% if !@imovel.id.nil? %>
  <%= f.label 'Código de referência', :class => "control-label" %>
  <%= f.text_field :codigo_referencia, :class => "input-small", :disabled => "true" %>
<% end %>

<div class="control-group">
  <label class="control-label obrigatorio">Tipo do imóvel</label>
  <div class="controls">
    <% if @imovel.id.nil? %>
      <%= select("imovel", "tipo_imovel_id", TipoImovel.all.collect {|p| [ p.nome, p.id ] }, {include_blank: '-- Selecione o tipo de imóvel --'}, {class: "span4", onchange: "atualizaForm()", id:"idTipoImovel"}) %>
    <% else %>
      <%= select("imovel", "tipo_imovel_id", TipoImovel.all.collect {|p| [ p.nome, p.id ] }, {include_blank: '-- Selecione o tipo de imóvel --'}, {class: "span4", disabled: "true", id:"idTipoImovel"}) %>
    <% end %>
  </div>
</div>

<%= f.label :nome, :class => "control-label obrigatorio" %>
<%= f.text_field :nome, :class => "input-xxlarge", :id => "txtNome", :onkeyup => "toUppercase(this);", :maxlength => "200" %>

<%= f.label "Localização", :class => "control-label obrigatorio" %>
<%= f.text_field :localizacao, :id => "txtLocalizacao", :onkeyup => "toUppercase(this);", :onblur => "atualizaNomeTipoTerreno()", :maxlength => "200" %>

<%= f.label "Descrição", :class => "control-label" %>
<%= f.text_area :descricao, :rows => "5", :class => "span8"   %>

<div class="control-group">
  <label class="control-label obrigatorio">Transação</label>
  <div class="controls">
    <%= select("imovel", "transacao_imovel_id", TransacaoImovel.all.collect {|p| [ p.descricao, p.id ] }, {include_blank: '-- Selecione a transação --'}, {class: "input-large"}) %>
  </div>
</div>

<div class="control-group">
  <label class="control-label">Valor</label>
  <div class="controls input-prepend input-append">
    <span class="add-on">R$</span>
    <%= f.text_field :valor, :class => "span5", :onkeyup => "somenteNumero(this, event), formatarValor(this)", :maxlength => "11", :size => "30" %>
  </div>
</div>

<div class="control-group">
  <label class="control-label">Taxa de Condomínio</label>
  <div class="controls input-prepend input-append">
    <span class="add-on">R$</span>
    <%= f.text_field :taxa_condominio, :class => "span5", :onkeyup => "somenteNumero(this, event), formatarValor(this)", :maxlength => "10", :size => "30" %>
  </div>
</div>

<div class="control-group">
  <label class="control-label">IPTU</label>
  <div class="controls input-prepend input-append">
    <span class="add-on">R$</span>
    <%= f.text_field :iptu, :class => "span5", :onkeyup => "somenteNumero(this, event), formatarValor(this)", :maxlength => "10", :size => "30" %>
  </div>
</div>

<div class="control-group" style="display: inline;" id="divQuartos">
  <label class="control-label">Quartos</label>
  <div class="controls">
    <select name="imovel[quantidade_quartos]">
      <option>-- Número de quartos --</option>
      <option value="1">1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
</div>

<div class="control-group" id="divSuites">
  <label class="control-label">Suites</label>
  <div class="controls">
    <select name="imovel[quantidade_suites]">
      <option>-- Número de suites --</option>
      <option value="1">1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
</div>

<div class="control-group">
  <label class="control-label">Área (m²)</label>
  <div class="controls">
    <%= f.text_field :area, :class => "input-small", :onkeyup => "somenteNumero(this, event), formatarValor(this)", :maxlength => "8", :size => "25" %>
  </div>
</div>

<div class="control-group" id="divVagasGaragem">
  <label class="control-label">Vagas na garagem</label>
  <div class="controls">
    <%= f.text_field :vagas_garagem, :class => "span1", :onkeyup => "somenteNumero(this, event)", :maxlength => "3" %>
  </div>
</div>



<br>
<a href="#" class="link-icon pull-right"><i class="icon-arrow-up link-icon"></i> Topo do formulário</a>
<br>
<div id="divCaracteristicas">
  <legend>Características<a name="caracteristicas"></a></legend>
    <% if CaracteristicaImovel.all.length == 0 %>
      <font class="text-error" >Não há características cadastradas para imóveis.</font>
    <% end %>
    <table width="80%">
    <% CaracteristicaImovel.order(:descricao).each_with_index do |c,i| %>
      <% if i%3 == 0 %>
        <% if i != 0 %> 
          </tr>
        <% end %>
        
      <tr>
        <td><%= check_box_tag'imovel[caracteristica_imovel_ids][]', c.id, @imovel.caracteristica_imovels.include?(c), class: 'checkbox inline' %> <%= c.descricao %></td>
      <% else %>
      <td><%= check_box_tag'imovel[caracteristica_imovel_ids][]', c.id, @imovel.caracteristica_imovels.include?(c), class: 'checkbox inline' %> <%= c.descricao %></td>
      <% end %>
    <% end %>
    </table>
  <br>
</div>
<br>

<br />
<a href="#" class="link-icon pull-right"><i class="icon-arrow-up link-icon"></i> Topo do formulário</a>  
<br />

<legend>Imagens<a name="imagens"></a></legend>


<br><br>  
<div class="field">
  <%= f.fields_for :images do |image_form|  %>
    <%= image_tag(image_form.object.image.thumb.url) if image_form.object.image? %>
    <%= image_form.file_field :image %>
    <%= image_form.link_to_remove t('.remove_image') %>
  <% end %>
  <%= f.link_to_add t('.add_image'), :images %>
</div>
<br>
<a href="#" class="link-icon pull-right"><i class="icon-arrow-up link-icon"></i> Topo do formulário</a>
<br>
<% if can? :destroy, @imovel %>
  Ativo <%= check_box("imovel", "ativo", :class => "checkbox inline")%>
<% end %>


<div class="form-actions-white">
	<!-- <%= f.submit %> -->
	<% if @imovel.id.nil? %>
	<button class="btn btn-primary" type="submit" onclick="atualizaNomeTipoTerreno();">Cadastrar</button>
	<% else %>
	<button class="btn btn-info" type="submit">Alterar</button>
	<% end %>
	ou 
	<%= link_to "Cancelar", administrativo_imovels_path, :confirm => "Deseja cancelar a operação? Todos os dados serão perdidos." %>
</div>
<% end %>
</fieldset>

<script type="text/javascript">

  mostraCampoVendedor();
  
  atualizaForm();
  atualizaNomeTipoTerreno();
  
</script>