<h1>Cadastrar Característica</h1>
<p>Este caso de uso permite que o administrador cadastre novas características para serem incorporadas a imóveis cadastrados.
  Para isto, informe a descrição da característica.</p>
<br>
<fiedset>
  <%= form_for(@caracteristica_imovels, :html => { :class => :form }) do |f| -%>
  
  <%= f.label 'Descrição', :class => "control-label" %>
  <%= f.text_field :descricao, :class => "input-xlarge", :onkeyup => "toUppercase(this);", :maxlength => "300" %>

<br>  
  <div class="form-actions-white">
    <!-- <%= f.submit %> -->
    <% if @caracteristica_imovels.id.nil? %>
    <button class="btn btn-primary" type="submit">Cadastrar</button>
    <% else %>
    <button class="btn btn-info" type="submit">Alterar</button>
    <% end %>
    ou 
    <%= link_to "Cancelar", caracteristica_imovels_path, :confirm => "Deseja cancelar a operação? Todos os dados serão perdidos." %>
  </div>
<% end %>
</fiedset>