

<% if user_signed_in? %>
	<%= link_to(administrativo_mensagems_path) do %>
           <i class="icon-user icon-white"></i> <%= current_user.email %>
    <% end %>
   	|
   	<%= link_to(destroy_user_session_path, :method=>'delete') do %>
         <i class="icon-off"></i> Sair
	<% end %>
  
  	<h1>HOME PAGE</h1>
  
<% else%>
  <h1>Login</h1>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :class => "form-horizontal" ) do |f| -%>
                            
    <%= render :partial => "devise/sessions/new", :locals => {:f => f} %>
    <%= f.submit "Entrar", :class => "btn btn-primary" %>
                            
  <% end -%>
	
<%end%>