<h1>Corretores Cadastrados</h1>
<dl>
  <dd>
    Nesta página, o administrador pode alterar, remover e visualizar corretores cadastrados.
  </dd>
</dl>
<br>
<%= search_form_for [:corretor, @search], :class => "form-search" do |f| %>
  <div class="input-append">
    <%#= f.text_field :username_or_cpf_cont, :class => "input-medium search-query", :placeholder => "Digite o nome ou CPF", :style=> 'width: 200px'; %>
    <%= f.submit "Buscar", :class => "btn btn-info" %>
  </div>
<% end %>
<div class="well well-small" style="text-align: center;">
  <i class="icon-search"></i> Visualizar | <i class="icon-pencil"></i> Alterar | <i class="icon-trash"></i> Remover |<%= link_to(new_corretor_corretor_path, :class => "btn btn-link link-icon") do %><i class="icon-plus-sign"></i> Cadastrar Corretor <% end %>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="rotulo" width="40%"> <%= sort_link(@search, :username, "Nome Completo") %> </th>
      
      <th class="rotulo" width="5%">Permissão</th>
      
      <th class="rotulo" width="12%" nowrap>CRECI</th>
      
      <th class="rotulo" width="12%" nowrap> <%= sort_link(@search, :cpf, "CPF") %> </th>

      <th class="rotulo" style="text-align: center; width: 13%" nowrap> <%= sort_link(@search, :created_at, "Data de Cadastro") %> </th>

      <th class="rotulo" style="width: 13%"></th>
    </tr>
  </thead>
  <tbody>
    <% if !@corretors.empty? %>
      <% @corretors.each do |corretor| -%>
      <tr>
        <td> <%= corretor.nil? ? "" : corretor.nome %> </td>
        <td> <%= corretor.user.roles[0].name %> </td>
        <td> <%= corretor.nil? ? "" : corretor.creci %> </td>
        <td> <%= corretor.nil? ? "" : corretor.cpf %> </td>
        <td style="text-align: center;" nowrap><%= l(corretor.created_at, :format => :sample) %></td>
        <td style="text-align: center;" nowrap>
          <%= link_to(corretor_corretor_path(corretor), :class => "link-icon", :title => "Visualizar", :alt => "Visualizar") do %>
           <i class="icon-search icon-white"></i>
          <% end %> |
           <%= link_to(edit_corretor_corretor_path(corretor), :class => "link-icon", :title => "Alterar") do %>
           <i class="icon-pencil icon-white"></i>
          <% end %> |
        <%= link_to(corretor_corretor_path(corretor), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Tem certeza que deseja remover este corretor?")}", :class => "link-icon", :title => "Remover" ) do %>
           <i class="icon-trash icon-white"></i>
          <% end %>
          </td>
      </tr>
      <% end -%>
    <% else %>
      <tr>
        <td colspan="6" style="text-align: center">
          <font class="text-error" >Não há corretores cadastrados.</font>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
