<fieldset>

	<div class="row-fluid">
		<% if @user.errors.any? %>
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">
				×
			</button>
			<ul>
				<% @user.errors.full_messages.each do |msg| %>
				<li>
					<%= msg %>
				</li>
				<% end %>
			</ul>
		</div>
		<% end %>
	</div>

	<div class="row-fluid">
		<div class="span8 offset2 table-visualizacao">
			<legend>
				Informações Pessoais
			</legend>

			<div class="controls controls-row">
				<%= f.text_field :name, :class => "span9", :type => "text", :placeholder => "Nome Completo" %>

				<input class = "span3" type="text" placeholder="CRECI"/>
			</div>

			<div class="controls controls-row">
				<%= f.text_field :rg, :class => "span3", :type => "text", :placeholder => "RG"%>

				<%= f.text_field :cpf, :class => "span3", :type => "text", :data => { :mask => "999.999.999-99" }, :placeholder => "CPF" %>

				<%= f.text_field :tel, :class => "span3", :type => "text", :data => { :mask => "(99) 9999-9999" }, :placeholder => "Telefone"%>

				<%= f.text_field :cel, :class => "span3", :type => "text", :data => { :mask => "(99) 9999-9999" }, :placeholder => "Celular" %>
			</div>

			<div class="controls">
				<%= f.text_field :ende, :class => "span9", :type => "text", :placeholder => "Endereço"%>
			</div>
		</div>
	</div>

	<div class="span12"></div>

	<div class="row-fluid">
		<div class="span6 offset3 table-visualizacao">
			<legend>
				Informações Cadastrais
			</legend>
			<div class="controls-row">
				<div class="span2"> </div>
				
				<%= f.text_field :username, :class => "span4", :type => "text", :placeholder => "Username" %>
		
				<%= f.text_field :email,:class => "span4", :type => "text", :placeholder => "Email" %>
			</div>

			<% if @user.id == nil %>
			<div class="controls-row">
				<div class="span2"> </div>
				<%= f.password_field :password, :class => "span4", :type => "text", :placeholder => "Senha" %>

				<%= f.password_field :password_confirmation,:class => "span4", :type => "text", :placeholder => "Confirmar Senha" %>
			</div>

			<!--<div class="controls-row"> 
				<div class="span3"> </div>
				<span class="help-inline">Escolha uma senha de no mínimo 6 caracteres</span>
			</div>
			<% end %>-->
			</div>
	</div>

	<div class="span12"></div>

	<div class="row-fluid">
		<div class="span2 offset5 table-visualizacao">
			<legend class="obrigatorio">
				Permissões
			</legend>
			<% for role in Role.find(:all) %>
			<div class="controls">
				<%= radio_button_tag "user[role_ids][]", role.id, @user.roles.include?(role) %><%= f.label role.name , :class => 'radio inline' %>
			</div>
			<% end %>
		</div>
	</div>

	<div class="span12"></div>

	<div class="row-fluid">
		<div class="span12 form-actions-white">
			<% if @user.id == nil %>
			<button class="btn btn-primary" type="submit">
				Cadastrar
			</button>
			<% else %>
			<button class="btn btn-info" type="submit">
				Alterar
			</button>
			<% end %>
			ou
			<%= link_to "Cancelar", corretor_users_path, :confirm => "Deseja cancelar a operação? Todos os dados serão perdidos." %>
		</div>
	</div>
</fieldset>