<fieldset>
<% if @user.errors.any? %>
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
  

<legend>Informações Pessoais</legend>

<%= f.label :name, t("activerecord.attributes.user.name", :default => "Nome Completo"), :class => 'control-label obrigatorio' %>
<%= f.text_field :name, :class => 'text_field input-xlarge' %>

<%= f.label :rg, t("activerecord.attributes.user.rg", :default => "RG"), :class => 'control-label obrigatorio' %>
<%= f.text_field :rg, :class => 'text_field input-medium'%>

<label class="obrigatorio">CRECI</label>
<input type="text"/>

<%= f.label :cpf, t("activerecord.attributes.user.cpf", :default => "CPF"), :class => 'control-label obrigatorio' %>
<%= f.text_field :cpf, :class => 'text_field input-medium', :data => { :mask => "999.999.999-99" } %>

<%= f.label :tel, t("activerecord.attributes.user.tel", :default => "Telefone"), :class => 'control-label' %>
<%= f.text_field :tel, :class => 'text_field ', :data => { :mask => "(99) 9999-9999" } %>

<%= f.label :cel, t("activerecord.attributes.user.cel", :default => "Celular"), :class => 'control-label obrigatorio' %>
<%= f.text_field :cel, :class => 'text_field', :data => { :mask => "(99) 9999-9999" } %>

<%= f.label :ende, t("activerecord.attributes.user.ende", :default => "Endereço"), :class => 'control-label' %>
<%= f.text_field :ende, :class => 'text_field input-xxlarge'%>

<legend>Informações Cadastrais</legend>

<%= f.label :username, t("activerecord.attributes.user.username", :default => "Username"), :class => 'control-label obrigatorio' %>
<%= f.text_field :username, :class => 'text_field' %>

<%= f.label :email, t("activerecord.attributes.user.email", :default => "Email"), :class => 'control-label obrigatorio' %>
<%= f.text_field :email, :class => 'text_field' %>

<% if @user.id == nil %>
  <%= f.label :password, t("activerecord.attributes.user.password", :default => "Senha"), :class => 'control-label obrigatorio' %>
  <%= f.password_field :password, :class => 'password_field' %>
  <span class="help-inline">Escolha uma senha de no mínimo 6 caracteres</span>

  <%= f.label :Password, t("activerecord.attributes.user.password_confirmation", :default => "Confirmar senha"), :class => 'control-label obrigatorio' %>
  <%= f.password_field :password_confirmation, :class => 'password_field' %>
<% end %>

<br>
<br>
<legend class="obrigatorio">Permissões</legend>
<% for role in Role.find(:all) %>
  <div class="controls">
     <%= radio_button_tag "user[role_ids][]", role.id, @user.roles.include?(role) %><%= f.label role.name , :class => 'radio inline' %>
  </div>
<% end %>  


<br>
<div class="form-actions-white">
  <% if @user.id == nil %>
    <button class="btn btn-primary" type="submit">Cadastrar</button>
  <% else %>
    <button class="btn btn-info" type="submit">Alterar</button> 
  <% end %>
  ou
  <%= link_to "Cancelar", corretor_users_path, :confirm => "Deseja cancelar a operação? Todos os dados serão perdidos." %>
</div>

</fieldset>