<h1>Users</h1>

<%= search_form_for [:corretor, @search] do |f| %>
  <div class="field">
    <%= f.label :username_or_cpf_cont, "Digite o nome ou CPF" %>
    <%= f.text_field :username_or_cpf_cont %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<table class="table table-striped">
 <thead>
  <tr>
    <th>
    	<%= sort_link(@search, :username, "Username") %>
    </th>
    
    <th>
    	<%= sort_link(@search, :cpf, "CPF") %>
    </th>
    
    <th>
      	<%= sort_link(@search, :email, "Email") %>
    </th>
    
    <th>
    	<%= sort_link(@search, :created_at, "Created at") %>
    </th>
        
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| -%>
   <tr>    
    <td>
    	<%= link_to user.username, corretor_user_path(user) %>
    </td>
        
    <td>
    	<%= user.cpf %>
    </td>
        
    <td>
    	<%= user.email %>
    </td>
        
    <td><%= user.created_at %></td>
    <td>
      <%= link_to "Show", corretor_user_path(user) %>
      <%= link_to "Edit", edit_corretor_user_path(user) %>
      <%= link_to "Destroy", corretor_user_path(user), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
    </td>
    </tr>
    <% end -%>
   </tbody>
</table>

<%= link_to "New", new_corretor_user_path, :class => 'btn btn-primary' %>
