<h1>Corretores Cadastrados</h1>
<dl>
  <dd>
    Nesta página, o administrador pode alterar, remover e visualizar corretores cadastrados.
  </dd>
</dl>
<br>
<%= search_form_for [:corretor, @search], :class => "form-search" do |f| %>
<div class="input-append">
<%= f.text_field :username_or_cpf_cont, :class => "input-medium search-query", :placeholder => "Digite o nome ou CPF", :style=> 'width: 200px'; %>
<%= f.submit "Buscar", :class => "btn btn-info" %>
</div>
<% end %>
<table class="table table-bordered">
  <thead>
    <tr>

      <th class="rotulo"> <%= sort_link(@search, :email, "Email") %> </th>
      
      <th class="rotulo"> <%= sort_link(@search, :cpf, "CPF") %> </th>

      <th class="rotulo" style="text-align: center; width: 13%" nowrap> <%= sort_link(@search, :created_at, "Data de Cadastro") %> </th>

      <th class="rotulo" style="width: 13%"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| -%>
    <tr>
      <td> <%= user.email %> </td>
      <td> <%= user.cpf %> </td>
      <td style="text-align: center;" nowrap><%= l(user.created_at, :format => :sample) %></td>
      <td style="text-align: center;" nowrap>
        <%= link_to "Visualizar", corretor_user_path(user) %> |
        <%= link_to "Alterar", edit_corretor_user_path(user) %> |
        <%= link_to "Remover", corretor_user_path(user), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Tem certeza que deseja remover este corretor?")}" %> </td>
    </tr>
    <% end -%>
  </tbody>
</table>

<%= link_to "Cadastrar Novo Corretor", new_corretor_user_path, :class => 'btn btn-primary' %>
