  
  <h2 class="h2-pages">Perfil do corretor</h2>
  
  <table class="table table-visualizacao">
    <!-- <caption>Dados Gerais</caption> -->

    <tr>
      <th>Nome:</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>RG:</th>
      <td><%= @user.rg %></td>
    </tr>
    <tr>
      <th>CPF:</th>
      <td><%= @user.cpf %></td>
    </tr>
    <tr>
      <th>Telefone:</th>
      <td><%= @user.tel %></td>
    </tr>
    <tr>
      <th>Celular:</th>
      <td><%= @user.cel %></td>
    </tr>
    <tr>
      <th>Endereço:</th>
      <td><%= @user.ende %></td>
    </tr>
    <tr>
      <th><%= t("activerecord.attributes.user.email", :default => t("activerecord.labels.email", :default => "Email")) %>:</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>Username:</th>
      <td><%= @user.username %></td>
    </tr>
    <tr>
      <th>Username:</th>
      <td><%= @user.username %></td>
    </tr>
  </table>
<div class="form-actions-white">
  <%= link_to "Voltar", corretor_users_path, :class => 'btn'  %>
  <%= link_to "Alterar", edit_corretor_user_path(@user), :class => 'btn btn-info' %>
  <%= link_to "Remover", corretor_user_path(@user), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Tem certeza que deseja remover esse corretor ?")}", :class => 'btn' %>
</div>
