<h1>Listing imovels</h1>

<table>
  <tr>
    <th>Cod ref</th>
    <th>Nome</th>
    <th>Localizacao</th>
    <th>Descricao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @imovels.each do |imovel| %>
  <tr>
    <td><%= imovel.cod_ref %></td>
    <td><%= imovel.nome %></td>
    <td><%= imovel.localizacao %></td>
    <td><%= imovel.descricao %></td>
    <td><%= link_to 'Show', imovel %></td>
    <td><%= link_to 'Edit', edit_imovel_path(imovel) %></td>
    <td><%= link_to 'Destroy', imovel, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Imovel', new_imovel_path %>
