<h2 class="h2-pages">Visualização do Imóvel</h2>

<br />
<br />
<table align="center" width="40%">
  <tr>
    <td>
      <% if !@imovel.images.empty? %>
        <div class="carousel slide" id="carousel-709849" style="width: 310px; text-align: center;">
          <ol class="carousel-indicators">
            <% @imovel.images.each_with_index do |image, i| %>
              <% if i == 0 %>
                <li class="active" data-slide-to="0" data-target="#carousel-709849"></li>
              <% else %>
                <li data-slide-to=<%= i %> data-target="#carousel-709849"></li>
              <% end %>
            <% end %>
          </ol>
          <div class="carousel-inner">
            <% @imovel.images.each_with_index do |image, i| %>
              <% if i == 0 %>
                <div class="item active">
                  <%= image_tag image.image_url(:thumb3x4) if image.image? %>
                </div>
              <% else %>
                <div class="item">
                  <%= image_tag image.image_url(:thumb3x4) if image.image? %>
                </div>
              <% end %>
            <% end %>
          </div> 
          <a data-slide="prev" href="#carousel-709849" class="left carousel-control">‹</a>
          <a data-slide="next" href="#carousel-709849" class="right carousel-control">›</a>
        </div>
      <% end %>
    </td>
  </tr>
</table>

<br>

<table class="table table-hero2" style="width: 80%;" align="center">
<caption>Dados Gerais</caption>
<tr>
  <th nowrap>Código de Referência:</th>
  <td colspan="3"><b><font class="text-success"><%= @imovel.codigo_referencia %></font></b></td>
</tr>
<tr>
  <th>Nome do Imóvel:</th>
  <td><%= @imovel.nome %></td>
  <th>Localizacao:</th>
  <td><%= @imovel.localizacao %></td>
</tr>
<tr>
  <th>Tipo do Imóvel:</th>
  <td><%= @tipo_imovel.nome %></td>
  <th>Transação:</th>
  <td><%= @transacao.descricao if !@transacao.nil? %></td>
</tr>
<tr>
  <th>Descrição:</th>
  <td colspan="3">
    <% if !@imovel.descricao.empty? %>
      <%= @imovel.descricao %>
    <% else %>
      Não informada.
    <% end %>
  </td>
</tr>
 
</table>
<table class="table table-hero2" style="width: 80%;" align="center">
  <caption>Características</caption>
  <tr>
    <th>Taxa de Condomínio:</th>
    <td>
      <% if @imovel.taxa_condominio? %>
        R$ <%= @imovel.taxa_condominio %>
      <% else %>
        Não informado
      <% end %>
    </td>
    <th>IPTU:</th>
    <td>
      <% if @imovel.iptu? %>
        <%= @imovel.iptu %>
      <% else %>
        Não informado
      <% end %>
    </td>    
  </tr>
  <tr>
    <th>Número de quartos:</th>
    <td>
      <% if @imovel.quantidade_quartos? %>
        <%= @imovel.quantidade_quartos %>
      <% else %>
        Não informado
      <% end %>
    </td>
    <th>Número de suites:</th>
    <td>
      <% if @imovel.quantidade_suites? %>
        <%= @imovel.quantidade_suites %>
      <% else %>
        Não informado
      <% end %>
    </td>    
  </tr>
  <tr>
    <th>Área:</th>
    <td>
      <% if @imovel.area? %>
        <%= @imovel.area %> m²
      <% else %>
        Não informada
      <% end %>
    </td>
    <th>Vagas na garagem:</th>
    <td>
      <% if @imovel.vagas_garagem? %>
        <%= @imovel.vagas_garagem %>
      <% else %>
        Não informado
      <% end %>
    </td>    
  </tr>
  <tr>
    <th>Características:</th>
    <td colspan="3">
      <% size = @imovel.caracteristica_imovels.length %>
      <% @imovel.caracteristica_imovels.each_with_index do |caracteristica, i| %>
        <% if size > 1 %>
          <% case i %>
            <% when (size-2) %>
              <!-- Penultimo elemento da lista -->
              <%= caracteristica.descricao %>
            <% when (size-1) %>
              <!-- Ultimo elemento da lista -->
              e <%= caracteristica.descricao %>.
            <% else %>
              <%= caracteristica.descricao %>, 
            <% end %>
        <% else %>
            <%= caracteristica.descricao %>.
        <% end %>
      <% end %>
    </td>
  </tr>
</table>

<table class="table table-hero2" style="width: 80%;" align="center">
  <caption>Dados administrativos</caption>
  <tr>
    <th>Cadastrador por:</th>
    <td>
        <%= @cadastrado_por.nome %>
    </td>
    <th></th>
    <td>
      
    </td>
  </tr>
  <tr>
    <th>Negociado por:</th>
    <td>
      <% if @imovel.vendido? %>
        <%= vendedor.nome %>
      <% else %>
        Ainda não foi negociado
      <% end %>
    </td>
    <td></td>
    <td></td>
  </tr>
</table>



<div class="form-actions-white" style="width: 80;">
  <%= link_to 'Voltar', imovels_path, :class => "btn" %>
  <%= link_to 'Alterar', edit_imovel_path(@imovel), :class => "btn btn-info" %>
    <%= link_to "Remover", imovels_path(@imovel), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Tem certeza que deseja remover esse imovel?")}", :class => 'btn' %>
  
  <!-- Estudar comportamento do imovel vendido para cada permissao -->
  <!--
  <% if @imovel.vendido? %>
    <button class="btn btn-info disabled" type="submit">Alterar</button>
    <button class="btn disabled" type="submit">Remover</button>
  <% else %>
    <%= link_to 'Alterar', edit_imovel_path(@imovel), :class => "btn btn-info" %>
    <%= link_to "Remover", imovels_path(@imovel), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Tem certeza que deseja remover esse imovel?")}", :class => 'btn' %>
  <% end %>
  -->
</div>

