<p id="notice"><%= notice %></p>

<div id="paintings">
  <% @imovel.images.each do |image| %>
    <div class="painting">
		<%= image_tag image.image_url(:thumb) if image.image? %>
    </div>
  <% end %>
</div>

<p>
  <b>Cod ref:</b>
  <%= @imovel.cod_ref %>
</p>

<p>
  <b>Nome:</b>
  <%= @imovel.nome %>
</p>

<p>
  <b>Localizacao:</b>
  <%= @imovel.localizacao %>
</p>

<p>
  <b>Descricao:</b>
  <%= @imovel.descricao %>
</p>


<%= link_to 'Edit', edit_imovel_path(@imovel) %> |
<%= link_to 'Back', imovels_path %>
