<h2 class="h2-pages">Detalhes do Imóvel</h2>

<p id="notice"><%= notice %></p>

<div id="paintings">
  <% @imovel.images.each do |image| %>
    <div class="painting">
		<%= image_tag image.image_url(:thumb) if image.image? %>
    </div>
  <% end %>
</div>

<table class="table table-visualizacao">
  <tr>
    <th nowrap>Código de Referência:</th>
    <td><%= @imovel.cod_ref %></td>
  </tr>
  <tr>
    <th nowrap>Nome do Imóvel:</th>
    <td><%= @imovel.nome %></td>
  </tr>
  <tr>
    <th nowrap>Localização:</th>
    <td><%= @imovel.localizacao %></td>
  </tr>
  <tr>
    <th nowrap>Descrição:</th>
    <td><%= @imovel.descricao %></td>
  </tr>
</table>

<div class="form-actions-white">
  <%= link_to 'Voltar', imovels_path, :class => "btn" %> 
  <%= link_to 'Alterar', edit_imovel_path(@imovel), :class => "btn btn-info" %>
  <%= link_to "Remover", imovels_path(@imovel), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Tem certeza que deseja remover esse imovel?")}", :class => 'btn' %>
</div>

