<h2 class="h2-pages">Visualização da mensagem</h2>

<div style="padding: 12px;">
  <% size = @mensagem.corretors.length %>
    <% @mensagem.corretors.each_with_index do |corretor, i| %>
    <font class="muted">
      <% if size > 1 %>
        <% case i %>
          <% when (size-2) %>
            <!-- Penultimo elemento da lista -->
            <strong><em><%= corretor.nome %></em></strong>
          <% when (size-1) %>
            <!-- Ultimo elemento da lista -->
            e <strong><em><%= corretor.nome %></em></strong> visualizaram esta mensagem.
          <% else %>
            <strong><em><%= corretor.nome %></em></strong>, 
          <% end %>
      <% else %>
          <strong><em><%= corretor.nome %></em></strong> visualizou esta mensagem.
      <% end %>
    </font>
    <% end %>
</div>

<table class="table table-subListagem">
  <caption>Cabeçalho</caption>
  <tbody>
    <tr>
    <td style="padding-left: 12px;"><strong>Assunto:</strong> <%= @mensagem.assunto_mensagem %></td>
  </tr>
  <tr>
    <td style="padding-left: 12px;"><strong>Remetente:</strong> <%= @mensagem.remetente %></td>
  </tr>
  <tr>
    <td style="padding-left: 12px;"><strong>Email:</strong> <%= @mensagem.email %></td>
  </tr>
  <tr>
    <td style="padding-left: 12px;"><strong>Telefone:</strong> <%= @mensagem.telefone.empty? ? "Não informado" : @mensagem.telefone %></td>
  </tr>
  <tr>
    <table class="table table-subListagem">
    <caption>Mensagem</caption>
      <tr>
        <td style="padding: 12px;">
          <p style="text-align: justify;"><%= @mensagem.corpo_mensagem %></p>
        </td>
      </tr>
    </table>
  </tr>
  </tbody>
</table>

<div class="form-actions-white">
  <%= link_to "Voltar", administrativo_mensagems_path, :class => 'btn'  %>
  <%= link_to "Remover", administrativo_mensagem_path(@mensagem), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Tem certeza que deseja remover essa mensagem ?")}", :class => 'btn' %>
</div>