<!DOCTYPE html>
<html>
<head>
  <title>ArRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<% end %>


<% if user_signed_in? %>
	<li> <%= link_to(current_user.email, corretor_users_path) %></li>
	<li> <%= link_to('Sair', destroy_user_session_path, :method=>'delete') %>  </li>
<% else%>
	<li> <%= link_to('Login', new_user_session_path) %> </li>
<%end%>

<%= yield %>

</body>
</html>
