<!DOCTYPE html>
<html>
<head>
  <title>Ar Imóveis - Admin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>
<body class="background-pagina-principal">
<!-- Cabecalho -->

    
    <div class="container-fluid ">
    <!-- Conteudo -->
    <div class="row-fluid">
      <div class="span10 offset1 box-pagina-principal well">
        <% flash.each do |name, msg| %>
        <div class="alert alert-success">
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        </div>
        <% end %>
        
        <%= yield %>
      </div>
    </div>
  </div>


 <!-- Footer
    ================================================== -->
<footer class="footer">
  <div class="container">
    <p class="pull-right"><a href="#">Voltar ao topo</a></p>
    <p>Desenvolvido por <a href="http://www.vadertecnologia.com.br" target="_blank">Vader Tecnologia</a>.</p>
  </div>
</footer>


</body>
</html>